@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


.upper{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.logo-footer{
    height: 70px;
    width: 150px;
    margin-top: 50px;
}


.list-heading{ 
    
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.col{
    float: left;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;

}

li{
    
    font-weight: 500;
    font-size: 16px;
    color: rgb(154, 150, 150);
    text-decoration: none;
    padding-top: 10px;
    list-style: none;
}

h4{
    color: black;
}



  
  .socialIcons li {
    background-color: rgb(253, 253, 253);
    list-style: none;
    display: inline-block;
    margin: 4px;
    border-radius: 2em;
    overflow: hidden;
  }
  
  .socialIcons li a {
    display: block;
    padding: 0.5em;
    min-width: 2.28571429em;
    max-width: 2.28571429em;
    height: 2.18571429em;
    white-space: nowrap;
    margin-top: -13px;
    transition: 0.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
  }
  
  .socialIcons li i {
    margin-right: 0.5em;
  }
  
  .socialIcons li:hover a {
    max-width: 150px;
    padding-right: 1em;
  }
  
  .socialIcons .facebook {
    background-color: #ac11bd;
    box-shadow: 0 0 16px #d486cf;
    height: 2em;
    text-align: center;
  }
  
  
  
  .socialIcons .instagram {
    background-color: #ccbc0d;
    box-shadow: 0 0 16px #cdc448;
    height: 2em;
  }
  
  .socialIcons .linkedin {
    background-color: #db36b7;
    box-shadow: 0 0 16px #e463d0;
    height: 2em;
  }
  .socialIcons .Skype {
    background-color: #36db62;
    box-shadow: 0 0 16px #5adb36;
    height: 2em;
  }
  
.footer-bg{
  background-image: url("../images/go-tech-footer-backgroud.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
    min-height: 900px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
  
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  clip-path: polygon(100% 54%, 100% 0%, 100% 100%, 0 100%, 0 80%);
  z-index: -1;
  margin-top: -550px;
}

footer{
  margin-top: -200px;
  text-align: center;
  text-decoration: underline;
}