.bg-img-form {
    margin-top: 30px;
    height: 100px;
    width: 1000cm;
    /* The image used */
    background-image: url("../images/go-tech-form-backgroud.jpg");
  
    min-height: 800px;
    min-width: 800px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 30px;
  }
  
  /* Add styles to the form container */
  .container-form{
  margin-top: 30px;
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: block;
	max-width: 700px;
	overflow: hidden;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 2em;
	position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
	width: 98%;
    opacity: 0.9;
}
.container-form:before{
	background-color: white;
	content: '';
	-webkit-filter: blur(10px);
	filter: blur(10px);
	height: 100vh;
	position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100vw;
}
.container-form:after{
	background: rgba(255,255,255,0.6);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	width: 100%;
}
button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
  }
  
  .input-form {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  #container-form {
    border: solid 3px #474544;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
  }
  
  form {
    padding: 37.5px;
    margin: 50px 0;
  }
  
  
  
  .underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 80px;
  }
  
  .icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
  }
  
  .icon {
    display: block;
    fill: #474544;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }
  
  .lastname {
      float: right;
      width: 45%;
  }
  
  .input-form[type='text'], [type='lastname'], select, textarea {
      background: none;
    border: none;
      border-bottom: solid 2px #474544;
      color: #474544;
      font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
     
    text-transform: uppercase;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  .input-form[type='text']:focus, [type='lastname']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
  }
  
  .name {
      float: left;
      width: 45%;
  }
  
  select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 100%;
  }
  
  .telephone {
    width: 100%;
  }
  
  textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: #474544;
  }
  
  :-moz-placeholder { 
      color: #474544;
      opacity: 1;
  }
  
  ::-moz-placeholder {
      color: #474544;
      opacity: 1;
  }
  
  :-ms-input-placeholder {
      color: #474544;
  }
  
  #form_button {
    background-color: aliceblue;
    color: rgb(131, 32, 164);
    border-color: rgb(131, 32, 164);
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 9px;
    padding-bottom: 9px;
    transition: all 0.3s ease 0s;
  }
  
  #form_button:hover {
    background-image: linear-gradient(to right, rgb(131, 32, 164), rgb(239, 145, 234));
    color: aliceblue;
    border: none;
  }

  .p-form{
    font-size: 50px;
    align-self: center;
    text-align: center;
    color: #262626;
  }

  
  
  